[submodule "modules/JUCE"]
	path = modules/JUCE
	url = git@github.com:juce-framework/JUCE.git
[submodule "modules/cello"]
	path = modules/cello
	url = git@github.com:bgporter/cello.git
[submodule "modules/animator"]
	path = modules/animator
	url = git@github.com:bgporter/animator.git
[submodule "modules/testSuite"]
	path = modules/testSuite
	url = git@github.com:bgporter/testSuite.git
